<!doctype html>
{% extends "layout.html" %}
{% block body %}

<h1>Unpacked Sweeps</h1>


<div class="accordion" id="accordionRawData">
  {% for dir, files in data.items() %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading{{loop.index}}">
      <button 
        class="accordion-button" 
        type="button" 
        data-bs-toggle="collapse"
        data-bs-target="#collapse{{loop.index}}" 
        aria-expanded="true" 
        aria-controls="collapse{{loop.index}}"
      >
        {{dir}}
      </button>
    </h2>
    <div 
      id="collapse{{loop.index}}" 
      class="accordion-collapse collapse show" 
      aria-labelledby="heading{{loop.index}}" 
      data-bs-parent="#accordionRawData"
    >
      <div class="accordion-body">
        <ul class="list-group list-group-flush">
          {% for filename, name, version, tags in files %}
            <li class="list-group-item">
              <b>{{name}}</b> <i>(v: {{version}}, tags:</i>
                {% for tag in tags %} 
                  <span class="badge bg-primary">
                    {{tag}}
                  </span>
                {% endfor %}
              )
              <form method="post" action="/handle/sweeps" class="float-end">
                <input type="hidden" name="dir" value="{{dir}}">
                <input type="hidden" name="file" value="{{filename}}">
                <button type="submit" name="delete-sweeps" value="" class="link-button">
                  Delete
                </button>
                <button type="submit" name="analyze-sweeps" value="" class="link-button">
                  Analyse
                </button>
              </form>
            </i>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% endfor %}
</ol>

{% endblock %}
