<!doctype html>
{% extends "layout/layout.html" %}
{% block body %}
<h1>Upload</h1>
<form action="/upload" method="POST"  enctype="multipart/form-data">
  <div class="container-sm form-content">
    <div class="mb-3">
      <label for="creationDate" class="form-label">Creation Date</label>
      <input type="date" class="form-control" id="creationDate" name="creationDate">
    </div>
    <label for="inpTag" class="form-label">Select Tags</label>
    <div class="input-group mb-3">
      <input class="form-control" list="datalistOptions" id="inpTag" placeholder="Type to search...">
      <button 
        class="btn btn-outline-secondary" 
        type="button" 
        id="button-addon1"
        onclick="AddTag();"
      >Add</button>
      <input class="form-control" id="tags" name="tags">
      <datalist id="datalistOptions">
        {% for tag in all_tags %}
          <option value="{{tag}}">
        {% endfor %}
      </datalist>
    </div>
    <div>
      <input class="form-control form-control-lg" id="igorFile" name="igorFile" type="file">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="unpackIgorCheck" name="unpackIgorCheck" checked>
      <label class="form-check-label" for="unpackIgorCheck">Unpack igor file</label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
