<!doctype html>
{% extends "layout/layout.html" %}
{% block body %}
<figure class="text-end">
  <blockquote class="blockquote">
    <p><b>{{date}} {{name}}</b></p>
  </blockquote>
  <figcaption class="blockquote-footer">
    <i>v: {{version}}, tags: 
      {% for tag in tags %} 
        <span class="badge bg-{{'primary' if tag.raw else 'info'}}">
          {{tag.name}}
          {% if not tag.raw %} 
            <button 
              title="Remove tag: {{tag.name}}"
              type="button" 
              onclick="RemoveTagFromPath('{{date}}/{{name}}/{{filename}}', '{{tag.name}}');" 
              class="inline-btn"
            >X</button> 
          {% endif %} 
        </span>
      {% endfor %}
      <button 
        type="button" 
        onclick="InitAddTagModal('{{date}}/{{name}}/{{filename}}');" 
        class="btn btn-sm btn-light" 
        data-bs-toggle="modal" 
        data-bs-target="#tag_modal"
      >+</button>
    </i>
  </figcaption>
</figure>

<br>

<form action="/data/analysis/{{date}}/{{filename}}" method="POST">
  <div class="container-sm form-content">
    <div class="form-group">
      <label for="sweep_range" class="form-label">Select sweeps</label>
      <div class="input-group flex-nowrap mb-3">
        <span class="input-group-text" id="rangeval">1<!-- Default value --></span>
        <span class="input-group-text me-3" id="to_rangeval">{{num_sweeps}}<!-- Default value --></span>
        <input 
          type="range" 
          class="form-range me-2" 
          min="1" 
          max="{{num_sweeps}}" 
          id="sweep_range"
          name="sweep_range"
          value=1
          onChange="CheckFromSlider();"
          >
          <input 
            type="range" 
            class="form-range" 
            min="1" 
            max="{{num_sweeps}}" 
            id="sweep_range_to"
            name="sweep_range_to"
            value="{{num_sweeps}}"
            onChange="CheckToSlider();"
            >

      </div>
    </div>
    <div class="mb-3">
      <select class="form-select" id="opt" name="opt" aria-label="Default select example">
        <option value="1" selected>single</option>
        <option value="2">avrg</option>
        <option value="3">inrow</option>
        <option value="4">stacked</option>
      </select>
    </div>
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label" for="ylim_min">Y-Axis Min: </label>
      <div class="col-sm-2">
        <input type="number" class="form-control" id="ylim_min" name="ylim_min">
      </div>
      <div class="col-sm-2"> </div>
      <div class="col-sm-2">
        <input 
          type="checkbox" class="form-check-input" id="show_scalebar" name="show_scalebar" 
          onchange="ToggleScaleBarOptions();"
        >
        <label class="form-check-label" for="show_scalebar">Show Scalebar? </label>
      </div>
      <label 
        class="col-sm-2 col-form-label" id="for_scale_y_size"
        for="scale_y_size" style="display: none;"
      >scaleYsize: </label>
      <div class="col-sm-2" style="display: none;" id="scale_bar_opt_y">
        <input type="number" class="form-control" id="scale_y_size" name="scale_y_size">
      </div>
    </div>
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label" for="ylim_max">Y-Axis Max: </label>
      <div class="col-sm-2">
        <input type="number" class="form-control" id="ylim_max" name="ylim_max">
      </div>
      <div class="col-sm-2"> </div>
      <div class="col-sm-2" id="scale_bar_opt_ticks" style="display: none;">
        <input type="checkbox" class="form-check-input" id="hide_ticks" name="hide_ticks">
        <label class="form-check-label" for="hide_ticks">Hide Ticks</label>
      </div>
      <label 
        class="col-sm-2 col-form-label" id="for_scale_x_size"
        for="scale_x_size" style="display: none;"
      >scaleXsize: </label>
      <div class="col-sm-2" style="display: none;" id="scale_bar_opt_x">
        <input type="number" class="form-control" id="scale_x_size" name="scale_x_size">
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Analyze</button>
</form>

<br><br>

<h4>Analysis ({{analysis|length}})</h4>
{% if analysis %}
  <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    {% for a in analysis %}
      {% if ".png" in a.path %}
        <button 
          type="button" 
          data-bs-target="#carouselExampleIndicators" 
          data-bs-slide-to="{{loop.index0}}" 
          class="{% if loop.index == 1 %}active{% endif %}" 
          aria-current="true" 
          aria-label="Slide {{loop.index}}"
        ></button>
      {% endif %}
    {% endfor %}
  </div>
  <div class="carousel-inner">
    {% for a in analysis %}
      {% if ".png" in a.path %}
        <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
          <a href="#imgModal{{loop.index}}" type="" class="" data-bs-toggle="modal" data-bs-target="#imgModal{{loop.index}}">
            <img src="/{{a.path}}" class="d-block w-100" alt="{{a.path}}">
          </a>
          <div class="carousel-caption d-none d-md-block bg-light"
            style="background-color: rgba(255,255,255,0.8) !important;">
            <h5>{{a.name}}</h5>
            <p>Sweep-selection: {{a.selection}}, <i>v: {{a.version}}</i></p>
          </div>
        </div>
      {% endif %}
    {% endfor %}
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden text-secondary">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden text-secondary" >Next</span>
    </button>
  </div>
  <button 
    onclick="ShowOnlyFavorites();" 
    class="nobutton {{"favorite" if request.args.get("only_favorites") else ""}}"
  >&#10058;</button>

{% else %}
  <p>No analysis yet.</p>
{% endif %}

{% for a in analysis %}
  {% if ".png" in a.path %}
    <div class="modal fade" id="imgModal{{loop.index}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{a.name}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Sweep-selection: {{a.selection}}, 
              <i>v: {{a.version}}</i> 
              <button 
                onclick="Favorite(this, '{{a.path}}');" 
                class="nobutton {{"favorite" if a.path in favorites else ""}}"
              >&#10058;</button>
            </p>
            <div class="list-btn" style="margin-top: -3em">
              <select 
                class="form-select" 
                aria-label="add to projects" 
                onchange="if (this.selectedIndex) AddToProject(this, '{{a.path}}');"
              >
                <option selected>No Project</option>
                {% for project in projects %}
                <option value="{{project}}"> {{"*" if project in a.projects}}{{project}}</option>
                {% endfor %}
              </select>
            </div>


            <!--        include image here-->
            <a download="{{a.name}}" href="/{{a.path | replace(".png", ".svg")}}" title="{{a.name}}">
              <img src="/{{a.path}}" alt="{{a.path}}" class="img-fluid">
            </a>

            <h3>Plugin Data</h3> 
            {% for plugin_name, plug_data in a.plug.items() %}
              <h4>{{plugin_name}}</h4>
              {% for sweep, data in plug_data.data.items() %} 
                <h5>Sweep {{sweep|int +1}}</h5>
                <a 
                  href="/{{plug_data.path_to_plot}}/{{loop.index0}}.svg"
                  title="{{a.name}}_{{plugin_name}}_{{loop.index}}"
                  download="{{a.name}}_{{plugin_name}}_{{loop.index}}.svg"
                >
                  <img src="/{{plug_data.path_to_plot}}/{{loop.index0}}.png" alt="sweep {{loop.index}}" class="img-fluid">
                </a>
                <table class="table center">
                  {% for row in data %} 
                    {% set outer_loop = loop %}
                    <!--<tr style="text-align: left;"> -->
                    <tr> 
                      {% for value in row %} 
                        {% if outer_loop.index == 1 %} 
                          <th>{{value}}</th>
                        {% else %} 
                          <td>{{value}}</td>
                        {% endif %}
                      {% endfor %}
                    </tr>
                  {% endfor %}
                </table>
              {% endfor %}

            {% endfor %}
            <h3>Plugins</h3>
            <h4>Peaks</h4>
            <form method="post" action="/handle/analysis/peaks" class="float-end">
              <input type="hidden" name="path" value="{{a.path}}">
              <input type="hidden" name="date" value="{{date}}">
              <input type="hidden" name="filename" value="{{filename}}">
              <div class="input-group">
                <input class="form-control" type="number" name="peak_start" value=0.2 step=0.1>
                <input class="form-control" type="number" name="peak_step" value=0.1 step=0.1>
                <input class="form-control" type="number" name="peak_interval" value=0.002 step=0.001>
                <input class="form-control" type="number" name="peak_num_intervals" value=10>
                <button type="submit" name="analyze_peaks" class="btn btn-secondary" data-bs-dismiss="modal">Analyse Peaks</button>
              </div>
            </form>
            <p class="font-monospace">{{peaks}}</p>
          </div>
          <div class="modal-footer">
              <form method="post" action="/delete/analysis" class="float-end">
                <input type="hidden" name="path" value="{{a.path}}">
                <input type="hidden" name="date" value="{{date}}">
                <input type="hidden" name="filename" value="{{filename}}">
                <button type="submit" name="delete-analysis" class="btn btn-secondary" data-bs-dismiss="modal">Delete</button>
              </form>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}

  {% include "shared/add_tag_modal.html" %}

{% endblock %}
