body {
  font-family: Monaco;
  background-image: url("/static/images/background.jpg");
}

h1 {
  margin-bottom: 2em;
}


.main {
  text-align: center;
  padding: 50px;
  margin-top: 5em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #f8f9fa;
}

.msg {
  position:absolute;
  bottom:0;
  left: 1em;
  width: 30%;
}

.form-content {
  text-align: left;
}

.list-btn {
  float: right;
}

.link-button {
  background: none;
  border: none;
  color: #0c63e4;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1em;
  font-family: serif;
}
.link-button:focus {
  outline: none;
}
.link-button:active {
  color:red;
}

.sameline {
  display: contents;
}

.indicators {
  background-color: #ff0101 !important;
}

.inline-btn {
  background-color: transparent;
  border: none;
}

.center {
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.favorite {
  color:orange;
}

.nobutton {;
  background-color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
}

.search_bar {
  width: 50%;
  margin: auto;
}
